packages:
  yum:
    telegraf: []

files:
  "/etc/telegraf/telegraf.conf":
    content: |
      [agent]
        interval = "60s"

      [[inputs.cpu]]
      [[inputs.mem]]
      [[inputs.disk]]
        ignore_fs = ["tmpfs", "devtmpfs"]
      [[inputs.net]]

      [[outputs.influxdb]]
        urls = ["http://<PRIVATE_IP>:8086"]
        database = "metrics"
        skip_database_creation = true
